/* Imports */

/* Import para o botão voltar ao topo */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Fim Imports */

/* Início root */
:root{
  --color-base: linear-gradient(270deg, #234584 0%, #7D0C0E 100%);
  --color-instagram-logo: linear-gradient(225deg, #475fab 0%, #5559a7 11.11%, #804d9e 22.22%, #da2f92 33.33%, #ef2e76 44.44%, #ee444c 55.55%, #f26549 66.66%, #f48143 77.77%, #fdbb59 88.88%, #ffe393 100%);
}
/* Fim root */

/* Configurações Gerais */
*{
    margin: 0;
    padding: 0;
}
/* Fim Configurações Gerais */

/* Configurações de Tags */
body{
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Configurações Preloader */
#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; 
}

#pre-loader .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #1f1f1f;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); 
}

#loader-circle {
  display: block;
  position: relative;
  left: 51%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #7D0C0E;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  z-index: 1001; 
}

#loader-circle:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #234584;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite; 
}

#loader-circle:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } 
}

.loaded #loader-circle {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; 
}

.loaded #pre-loader {
  visibility: hidden;
  /*-webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);*/
  opacity: 0;
  -webkit-transition: all 1s 0.3s ease-out;
  transition: all 1s 0.3s ease-out; 
}

.no-js #pre-loader {
  display: none; 
}
/* Fim Configurações Preloader */

/* Botão voltar ao topo */
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  height: 0px;
  width: 0px;
  background: linear-gradient(270deg, #234584 0%, #7D0C0E 100%);
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: white;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: unset;
  right: 50px;
  bottom: 50px;
  font-size: 0px;
  z-index: 99;
  box-shadow: 0px 4px 15px black;
  -webkit-box-shadow: 0px 4px 15px black;
  -moz-box-shadow: 0px 4px 15px black;
  transition: all 0.4s ease-in-out, color 0s;
}

button.back-to-top:hover{
  background: linear-gradient(270deg, #fff 0%, #fff 100%);
  color: black;
}

button.back-to-top:focus{
  outline: none;
}

button.back-to-top::before{
  content: "\f077";
  font-family: "FontAwesome";
  display: block;
  vertical-align: middle;
  margin: -5px 0 auto;
}

button.back-to-top.show{
  display: block;
  font-size: 20px;
  right: 25px;
  bottom: 25px;
  height: 65px;
  width: 65px;
  visibility: visible;
}
/* Botão voltar ao topo */

/* Início Footer */
.footer{
  background: #151414;
  position: relative;
}

.footer .container{
  max-width: 1280px !important;
}

.footer-content{
  position: relative;
  z-index: 2;
}

.footer-box{
  margin: 0 5px;
}

.footer-box ul{
  margin: 0px;
  padding: 0px;
}

.footer-box ul li{
  list-style: none;
  margin-bottom: 12px;
}

.footer-box ul li:last-child{
  margin-bottom: unset;
}

.footer-box ul li a{
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-box ul li a:hover{
  color: #fff;
  transition: color 0.3s;
}

.footer-logo{
  margin-bottom: 30px;
}

.footer-logo img{
  max-width: 150px;
}

.footer-text{
  margin-bottom: 30px;
}

.footer-text p{
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
  text-align: justify;
}

.footer-contacts{
  margin-bottom: 30px;
}

.footer-contato{
  margin-bottom: 15px;
}

.footer-contato i{
  color: #fff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.contato-text{
  padding-left: 15px;
  display: inline-block;
}

.contato-text h4{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

.contato-text a{
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
}

.contato-text a:hover{
  color: #fff;
  transition: color 0.3s;
}

.links-footer{
  width: 100%;
}

.links-footer li{
  font-size: 14px;
}

.footer-box-links h3{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}

.button-footer{
  position: relative;
  overflow: hidden;
}

.button-footer input{
  width: 100%;
  height: 55px;
  background: #2E2E2E;
  border: unset;
  color: #fff;
  font-size: 14px;
}

.button-footer input:focus{
  border: unset;
  box-shadow: none;
}

.button-footer button{
  background: #fff;
  border: unset;
  transition: all 0.6s;
}

.button-footer button:hover{
  background: #000;
  border: unset;
  transition: all 0.3s;
}

.button-footer button.btn{
  padding: 6px 22px;
}

.button-footer button.btn:focus{
  box-shadow: none;
}

.button-footer button i{
  color: #000;
  font-size: 18px;
  transition: all 0.3s;
}

.button-footer button:hover i{
  color: #fff;
  transition: all 0.3s;
}

.footer-social-icon{
  position: absolute;
  bottom: 0;
  right: 15px;
}

.footer-social-icon h3{
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-social-icon a{
  color: #fff;
  float: right;
  font-size: 24px;
  transition: font-size 0.6s;
}

.footer-social-icon i{
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 57px;
  border-radius: 50%;
}

.instagram-bg{
  background: var(--color-instagram-logo);
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
}

.copyright-text p{
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a{
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.copyright-text p a:hover{
  color: #4896fa;
  transition: color 0.3s;
}
/* Fim Footer */

/* Visualização Layout de outros dispositivos */

/*Small devices (landscape phones)*/
@media (min-width: 576px) {
  .footer-box{
    margin-bottom: 30px;
  }

  .footer-contacts{
    margin: 50px 0px;
  }

  .footer-btn{
    margin-bottom: 30px;
  }

  .footer-social-icon{
    position: relative;
  }

  .footer-social-icon a{
    float: unset;
  }
}

/*Medium devices (tablets, 768px e superior)*/
@media (min-width: 768px) {
  .footer-contacts{
    margin: 60px 0px;
  }

  .footer-contacts .footer-contato{
    margin-bottom: unset;
  }
}

/*Large devices (desktops, 992px e superior)*/
@media (min-width: 992px) {
  .footer-box{
    margin-bottom: unset;
  }

  .footer-contacts, .footer-contato:last-child, .footer-btn{
    margin: unset;
  }

  .footer-contato{
    margin-bottom: 15px !important;
  }

  .footer-contato:last-child{
    margin-bottom: unset !important;
  }

  .links-footer div, .links-footer ul{
    width: 100%;
  }

  .footer-social-icon{
    position: absolute;
  }

  .footer-social-icon a{
    float: right;
  }
}

/*Extra large devices (large desktops, 1200px e superior)*/
@media (min-width: 1200px) {}

/* Visualização Layout de outros dispositivos */

/* ------------------------ */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ------------------------ */