/* Início Carrosel Topo */
.carousel-indicators li{
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-left: 6px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50px;
}

.carousel .carousel-item{
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev{
    width: 10%;
}
/* Fim Carrosel Topo */

/*.slider{
    width: 100%;
    height: 500px;
    margin-top: 80px;
}

.slide_viewer{
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide_group{
    height: 100%;
    position: relative;
    width: 100%;
}

.slide{
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child{
    display: block;
}

.slide:nth-of-type(1){
    background-image: url('../assets/images/slider/1354x500_1.jpg');
}

.slide:nth-of-type(2){
    background-image: url('../assets/images/slider/1354x500_2.jpg');
}

.slide:nth-of-type(3){
    background-image: url('../assets/images/slider/1354x500_3.jpg');
}

.slide:nth-of-type(4){
    background-image: url('../assets/images/slider/1354x500_4.jpg');
}

.slide:nth-of-type(5){
    background-image: url('../assets/images/slider/1354x500_5.jpg');
}

.directional_nav{
    margin: 0 auto;
    position: relative;
    top: -250px;
}

.previous_btn{
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

.next_btn{
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.previous_btn, .next_btn{
    cursor: pointer;
    height: 500px;
    opacity: 0.5;
    width: 200px;
    transition: 0.5s ease-in-out;
}

.previous_btn:hover{
    opacity: 1;
    background: linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.next_btn:hover{
    opacity: 1;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.previous_btn:hover svg,
.next_btn:hover svg{
    background: linear-gradient(270deg, rgba(35, 69, 132, 1) 0%, rgba(125, 12, 14, 1) 100%);
    border-radius: 50px;
    box-shadow: 0px 0px 0px 0.5px #fff inset;
}*/

/* Início da sessão Visão Geral do SNAPS */
/* Início Conteúdo Visão Geral do SNAPS */
#visao-geral{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.box-conteudo{
    padding: 0 5%;
}

.box-conteudo h3{
    text-align: center;
    padding-bottom: 20px;
}

.box-conteudo p{
    text-align: justify;
}
/* Fim Conteúdo Visão Geral do SNAPS */

/* Início Carrosel SNAPS */
ul.swiper-wrapper{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.swiper{
    max-width: 65%;
    margin: 40px 0;
    border-radius: 10px !important;
}

.swiper img{
    width: 100%;
    height: auto;
}

.swiper-pagination-bullet{
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet:hover{
    transition: background-color 0.5s ease;
    background: rgba(0, 0, 0, 1);
    color: white;
}

.swiper-pagination-bullet-active{
    color: #fff;
    background: black;
}

.tippy-tooltip.light-theme{
    color: #26323d;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    background-color: white;
}

.tippy-backdrop{
    background-color: white;
}

.tippy-roundarrow{
    fill: white;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme .tippy-arrow{
    border-top-color: #fff;
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme .tippy-arrow{
    border-bottom-color: #fff;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme .tippy-arrow{
    border-left-color: #fff;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme .tippy-arrow{
    border-right-color: #fff;
}

.tippy-tooltip.light-theme .tippy-roundarrow{
    fill: #fff;
}

.swiper-docs{
    font-family: "Roboto", sans-serif;
}

.swiper-docs #docs h3{
    margin-bottom: 0px;
}

.swiper-docs #docs ol li:not(:first-of-type){
    border-top: thin solid rgba(203, 202, 204, 1);
}

.swiper-docs #docs p{
    line-height: 22px;
    font-size: 0.9em;
}

.swiper-docs section #docs code{
    padding: 0;
    padding: 3px 5px;
    margin: 0;
    background: #f2f2f2;
    border-radius: 2px;
}

.swiper-docs #docs ol li{
    margin-bottom: 12px;
}

.swiper-docs{
    max-width: 960px;
    margin: 0px auto;
    padding: 10px;
}

code{
    color: #e83e8c;
    word-break: break-word;
}

.pswp__bg{
    opacity: 0.9 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next{
    left: 0px !important;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev{
    right: 0px !important;
    left: auto;
}

.swiper-button-next,
.swiper-button-prev{
    top: 4.5% !important;
    width: 100px !important;
    height: 100% !important;
}

.swiper-button-next,
.swiper-button-prev{
    color: #fff !important;
}

.swiper-pagination-bullet{
    width: 18px !important;
    height: 18px !important;
    text-align: center;
    line-height: 34px;
    color: transparent !important;
    opacity: 1;
    opacity: 0.5 !important;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet-active{
    background: #fff !important;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right{
    border: none;
}

.pswp__button--arrow--left{
    background: url(../assets/images/slider-snaps/arrow-left-circle-icon.png) no-repeat center !important;
    background-size: 100% !important;
    margin-left: 4%;
    transition: all 0.6s !important;
}

.pswp__button--arrow--right{
    background: url(../assets/images/slider-snaps/arrow-right-circle-icon.png) no-repeat center !important;
    right: 0;
    background-size: 100% !important;
    margin-right: 4%;
    transition: all 0.6s !important;
}

.pswp__button--arrow--left:hover{
    background: url(../assets/images/slider-snaps/arrow-left-circle-hover-icon.png) no-repeat center !important;
    background-size: 100% !important;
    scale: 1.2;
    transition: all 0.6s !important;
    cursor: pointer;
}

.pswp__button--arrow--right:hover{
    background: url(../assets/images/slider-snaps/arrow-right-circle-hover-icon.png) no-repeat center !important;
    background-size: 100% !important;
    scale: 1.2;
    transition: all 0.6s !important;
    cursor: pointer;
}

.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before{
    content: none !important;
}

/* Borda gardient animation */
.gradient-border{
    margin: 0;
    padding: 0;
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after{
    content: '';
    position: absolute;
    top: -11px;
    left: 227px;
    height: 510px;
    border-radius: 10px;
    width: 900px;
    background: linear-gradient(60deg, #7D0C0E, #234584);
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
/* Borda gardient animation */

@keyframes animatedgradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* Fim Carrosel SNAPS */
/* Fim da sessão Visão Geral do SNAPS */

/* Início da Sessão do Conteúdo Principal - SNA */
#conteudo-principal-sna{
    width: 100%;
}

.box-2-conteudos .container{
    max-width: 1270px;
}

.box-2-conteudos-bg{
    background-color: #a8a8a8;
}

.box-2-conteudos-bg,
.box-2-conteudos-no-bg{
    padding: 5% 0;
}

.box-2-conteudos .box-2-conteudos-text h3{
    padding-bottom: 20px;
}

.box-2-conteudos .box-2-conteudos-text p{
    text-align: justify;
}

.box-2-conteudos .box-2-conteudos-text p:last-child{
    margin-bottom: 0;
}

.box-2-conteudos .box-2-conteudos-img{
    text-align: center;
}

.box-2-conteudos .box-2-conteudos-img img{
    margin: 0 auto;
}

.box-2-conteudos-left{
    left: 50%;
}

.box-2-conteudos-right{
    right: 50%;
}
/* Fim da Sessão do Conteúdo Principal - SNA */

/* Início Botão Download Sessão Visão Geral SNAPS */
.buttons{
  text-align: center;
}

.buttons a.button{
  width: 320px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.25s ease-in-out;
  padding: 15px;
}

.buttons a.button.download{
  box-shadow: 0px 4px 15px black;
}

.buttons a.button.button-download{
  background: linear-gradient(272.04deg, #234584 0%, #7D0C0E 100%);
}

.buttons a.button:before,
.buttons a.button:after,
.buttons a.button span{
  transition: 0.25s ease-in-out;
}

.buttons a.button.download{
  position: relative;
  overflow: hidden;
}

.buttons a.button.download span{
  display: block;
  position: relative;
  bottom: 0px;
  text-transform: initial;
  color: var(--white-color);
  font-size: 18px;
}

.buttons a.button.button-download span{
  color: var(--black-color);
}

.buttons a.button-download:before{
  content: "SNAPS V8.1.1.21 - 7.4 MB";
  text-transform: initial;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  top: -100%;
  left: 0;
  position: absolute;
  font-size: 18px;
  color: var(--white-color);
}

.buttons a.button.button-download:before{
  color: var(--black-color);
}

.buttons a.button.download:hover span{
  bottom: -56px;
}

.buttons a.button.download:hover:before{
  top: 0%;
}

.buttons a.button i{
  margin-left: 20px;
}
/* Fim Botão Download Sessão Visão Geral SNAPS */

/* Início Sessão Integra */
#integra{
    width: 100%;
    padding: 5% 0;
}

#integra.bg-integra{
    background: linear-gradient(270deg, #234584 0%, #7D0C0E 100%);
}

#integra .container{
    max-width: 1230px;
}

.integra-titulo{
    margin-bottom: 5%;
}

.integra-titulo h2{
    margin-bottom: unset;
    color: #fff;
}

.box-2-conteudos-integra{
    padding: 0 2.5%;
}

.box-2-conteudos-integra .box-2-conteudos-integra-text h3{
    color: #dbdbdb;
    margin-bottom: 5%;
}

.box-2-conteudos-integra .box-2-conteudos-integra-text p{
    color: #c2c2c2;
    text-align: justify;
}

.box-2-conteudos-integra .box-2-conteudos-integra-text p:last-child{
    margin-bottom: 0;
}

.box-2-conteudos-integra .box-2-conteudos-integra-img{
    text-align: center;
}

.box-2-conteudos-integra .box-2-conteudos-integra-img img{
    margin: 0 auto;
}

.box-2-conteudos-integra-left{
    left: 50%;
}

.box-2-conteudos-integra-right{
    right: 50%;
}
/* Fim Sessão Integra */

/* Início Sessão Simuladores */
#simuladores{
    width: 100%;
    padding: 5% 0;
}

.descricao-simuladores{
    width: 100%;
    padding: 0 5%;
}

.descricao-simuladores h2{
    margin-bottom: 5%;
    text-align: center;
}

.descricao-simuladores p{
    text-align: justify;
}

/* Temporário */
#simuladores-partes{
    padding: 2.5% 0;
}

.human-body {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.human-body svg{
  fill: #000;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  transform: scale(1);
}

.human-body svg path{
  transition: all 0.6s;
  cursor: pointer;
}

.human-body svg path:hover {
  fill: #a80000;
  transition: all 0.3s;
}

.human-body .head, .human-body .face, .human-body .label{
    transform: translate(-50%, -50%) scale(0);
    transition: .3s transform;
}

.human-body .label{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
}

.human-body .desc{
    background: #fff;
    border-radius: 25px;
    padding: 2px 5px;
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
    width: fit-content;
    pointer-events: none;
}
/* Temporário */
/* Fim Sessão Simuladores */

/*.simuladores .box-simuladores{
    width: 100%;
}

.simuladores .box-simuladores .row-1, .row-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.simuladores .box-simuladores .row-1 .item1:hover h3,
.simuladores .box-simuladores .row-1 .item2:hover h3,
.simuladores .box-simuladores .row-2 .item1:hover h3,
.simuladores .box-simuladores .row-2 .item2:hover h3{
    transition: 0.3s ease-in;
    opacity: 100%;
    color: #fff;
}

.simuladores .box-simuladores .row-1 .item1:hover .titulo-box-simulador,
.simuladores .box-simuladores .row-1 .item2:hover .titulo-box-simulador,
.simuladores .box-simuladores .row-2 .item1:hover .titulo-box-simulador,
.simuladores .box-simuladores .row-2 .item2:hover .titulo-box-simulador{
    transition: 0.3s ease-in;
    background-color: black;
}

.simuladores .box-simuladores .row-1 .simulador-cardio{
    background-image: url(../assets/images/simuladores-container/cardio.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-1 .simulador-cardio .titulo-box-simulador,
.simuladores .box-simuladores .row-1 .simulador-gastro .titulo-box-simulador,
.simuladores .box-simuladores .row-1 .simulador-glandulas .titulo-box-simulador,
.simuladores .box-simuladores .row-2 .simulador-metabo .titulo-box-simulador,
.simuladores .box-simuladores .row-2 .simulador-olhos .titulo-box-simulador,
.simuladores .box-simuladores .row-2 .simulador-urogenital .titulo-box-simulador{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(272.04deg, rgba(35, 69, 132, 0.8) 0%, rgba(125, 12, 14, 0.8) 100%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s ease-in;
}

.simuladores .box-simuladores .row-1 .simulador-cardio h3,
.simuladores .box-simuladores .row-1 .simulador-gastro h3,
.simuladores .box-simuladores .row-1 .simulador-glandulas h3,
.simuladores .box-simuladores .row-2 .simulador-metabo h3,
.simuladores .box-simuladores .row-2 .simulador-olhos h3,
.simuladores .box-simuladores .row-2 .simulador-urogenital h3{
    font-size: 22px;
    opacity: 80%;
    text-align: center;
    font-weight: bold;
    color: #c3c3c3;
    padding: 20px 0;
    margin: 0;
    transition: 0.3s ease-in;
}

.simuladores .box-simuladores .row-1 .simulador-gastro{
    background-image: url(../assets/images/simuladores-container/gastro.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-1 .simulador-glandulas{
    background-image: url(../assets/images/simuladores-container/endocrino.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-2 .simulador-metabo{
    background-image: url(../assets/images/simuladores-container/metabo.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-2 .simulador-olhos{
    background-image: url(../assets/images/simuladores-container/olho.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-2 .simulador-urogenital{
    background-image: url(../assets/images/simuladores-container/uro.jpg);
    background-size: 100%;
    position: relative;
}

.simuladores .box-simuladores .row-1 .simulador-cardio, .simulador-gastro, .simulador-glandulas,
.simuladores .box-simuladores .row-2 .simulador-metabo, .simulador-olhos, .simulador-urogenital{
    width: 320px;
    height: 330px;
    background-color: grey;
    border-radius: 20px;
}

.simuladores .box-simuladores .row-1 .titulo{
    background-color: black;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.simuladores .box-simuladores .row-1 .titulo h3{
    font-size: 22px;
    color: white;
    text-align: center;
}*/
/* Fim Sessão Simuladores */

/* Visualização Layout de outros dispositivos */

/* Tablet */
@media only screen and (min-width: 768px) {}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /*.simuladores .box-simuladores .row-1 .item1:nth-child(1n+1),
    .simuladores .box-simuladores .row-2 .item1:nth-child(1n+1){
        margin-right: 40px;
    }

    .simuladores .box-simuladores .row-1 .item2:nth-child(1n+1),
    .simuladores .box-simuladores .row-2 .item2:nth-child(1n+1){
        margin: 0;
    }*/
}