:root{
  --white-color: #fff;
  --black-color: #000;
}

/* Início Section Simulador Cardiorespiratório */
#simulador-cardiorespiratorio{
  background: linear-gradient(272.04deg, #234584 0%, #7D0C0E 100%);
  padding: 2.5% 0;
}

#simulador-cardiorespiratorio .container{
  padding: 1.5%;
}

#simulador-cardiorespiratorio .simulador-btn-detail h3{
  color: var(--white-color);
  font-size: 24px;
  text-align: center;
}

#simulador-cardiorespiratorio .simulador-btn-detail #detailarea{
  outline: 0;
  padding: 16px;
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 150px;
  font-size: 20px;
  resize: none;
  font-family: 'Quicksand', serif;
}

#simulador-cardiorespiratorio .pressao-coracao-bronquios-section .box-pcb{
  width: 32%;
  margin-right: 2%;
  background-color: #fff;
  border-radius: 20px;
}

#simulador-cardiorespiratorio .pressao-coracao-bronquios-section .box-pcb:nth-child(3){
  margin-right: 0;
}

#simulador-cardiorespiratorio .pressao-arterial img#pressao,
#simulador-cardiorespiratorio .coracao-pulmao img#coracaoPulmao,
#simulador-cardiorespiratorio .bronquios img#bronq{
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  margin-top: 2.5%;
}

#simulador-cardiorespiratorio .pressao-arterial h3,
#simulador-cardiorespiratorio .coracao-pulmao h3,
#simulador-cardiorespiratorio .bronquios h3{
  color: var(--black-color);
  font-size: 24px;
  text-align: center;
  margin: 7.5% 15%;
  border-radius: 50px;
  padding: 1.5%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#simulador-cardiorespiratorio .pressao-arterial h3#paText{
  font-size: 24px;
  box-shadow: none;
  text-shadow: 1px 0px #000;
}

#simulador-cardiorespiratorio .coracao-pulmao .box-recptores .col-md-6:nth-child(2n+1),
#simulador-cardiorespiratorio .bronquios .box-recptores .col-md-6:nth-child(2n+1){
  padding: 0 5% 0 10%;
}

#simulador-cardiorespiratorio .coracao-pulmao .box-recptores .col-md-6:nth-child(2n),
#simulador-cardiorespiratorio .bronquios .box-recptores .col-md-6:nth-child(2n){
  padding: 0 10% 0 5%;
}

#simulador-cardiorespiratorio .vasos-section{
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 2.5% 2.5%;
}

#simulador-cardiorespiratorio .vasos-section .vaso-visceral,
#simulador-cardiorespiratorio .vasos-section .vaso-muscular{
  width: 48%;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(22,20,19,0.2);
}

#simulador-cardiorespiratorio .vasos-section .vaso-visceral{
  margin-right: 4%;
}

#simulador-cardiorespiratorio .vasos-section .vaso-visceral h3,
#simulador-cardiorespiratorio .vasos-section .vaso-muscular h3{
  color: var(--black-color);
  font-size: 24px;
  text-align: center;
  margin: 7.5% 25%;
  border-radius: 50px;
  padding: 1%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#simulador-cardiorespiratorio .vasos-section .col-md-6 img{
  margin: 0 auto;
}

#simulador-cardiorespiratorio .vasos-section .vaso-visceral img#receptorV1{
  padding-left: 38%;
}

#simulador-cardiorespiratorio .vasos-section .vaso-visceral img#receptorV2{
  padding-right: 38%;
}

#simulador-cardiorespiratorio .vasos-section .vaso-muscular img#receptorM1,
#simulador-cardiorespiratorio .vasos-section .vaso-muscular img#receptorM2,
#simulador-cardiorespiratorio .vasos-section .vaso-muscular img#receptorM3{
}