:root{
  --white-color: #fff;
  --black-color: #000;
}

/* Início Banner Simulador Cardiorespiratório */
#banner-simulador-conteudo{
  padding: 0;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 400px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

#banner-simulador-conteudo.banner-cardio{
  background-image: url(../assets/images/banner-cardio.jpg);
}

#banner-simulador-conteudo.banner-gastro{
  background-image: url(../assets/images/banner-gastro.jpg);
}

#banner-simulador-conteudo.banner-glandulas{
  background-image: url(../assets/images/banner-glandulas.jpg);
}

#banner-simulador-conteudo.banner-metabolismo{
  background-image: url(../assets/images/banner-metabolismo.jpg);
}

#banner-simulador-conteudo.banner-olhos{
  background-image: url(../assets/images/banner-olhos.jpg);
}

#banner-simulador-conteudo.banner-urogenital{
  background-image: url(../assets/images/banner-urogenital.jpg);
}
/* Fim Banner Simulador Cardiorespiratório */

/* Início Section Simulador Conteúdo */
#simulador-conteudo{
  padding: 8% 0;
}

#simulador-conteudo .container{
  max-width: 1250px;
}

.simulador-titulo h3{
  font-size: 36px;
  text-shadow: 1px 0px #000;
  letter-spacing: 2px;
}

.simulador-text{  
  padding: 2.5% 5%;
}

.simulador-text p{
  font-size: 20px;
  text-align: justify;
}

#simulador-conteudo .row{
  padding: 2% 1%;
}
/* Fim Section Simulador Conteúdo */

/* Início Select Option Simulador */
.chosen-container-single .chosen-single {
  background: #fff !important;
}

.chosen-wrapper{
  margin: 20px 0px 25px 0px;
  max-width: 400px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 1px rgb(0, 0, 0, 0.5);
}

.chosen-wrapper:after{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid black;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 9;
}

.chosen-wrapper.is-active:after{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chosen-wrapper .chosen-container .chosen-single{
  border-radius: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 46px;
  transition: all 0.4s ease-out;
  border: none;
}

.chosen-wrapper .chosen-container .chosen-single b{
  display: none !important;
}

.chosen-wrapper .chosen-container .chosen-single span{
  text-align: center;
  font-size: 20px;
}

.chosen-wrapper .chosen-container.chosen-with-drop .chosen-single{
  border-radius: 10px 10px 0 0;
}

.chosen-wrapper .chosen-container.chosen-with-drop .chosen-drop{
  opacity: 1;
  text-align: center;
}

.chosen-wrapper .chosen-container .chosen-drop{
  opacity: 0;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.chosen-wrapper .chosen-container .chosen-results{
  font-size: 18px;
  color: #000;
  border-radius: 0 0 10px 10px;
  padding: 0;
  margin: 0;
}

.chosen-wrapper .chosen-container .chosen-results li{
  padding: 16px 30px 18px;
  transition: all 0.5s;
}

.chosen-wrapper .chosen-container .chosen-results li:hover{
  background: linear-gradient(272.04deg, rgba(35, 69, 132, 0.4) 0%, rgba(125, 12, 14, 0.4) 100%) !important;
  font-size: 20px;
}

.chosen-wrapper .chosen-container .chosen-results li.highlighted{
  background: none;
  color: #000;
}

.result-selected{
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(272.04deg, rgba(35, 69, 132, 0.6) 0%, rgba(125, 12, 14, 0.6) 100%) !important;
}

.chosen-wrapper .chosen-container .chosen-results li:hover.result-selected{
  background: linear-gradient(272.04deg, rgba(35, 69, 132, 0.6) 0%, rgba(125, 12, 14, 0.6) 100%) !important;
}

/* Início Scroll-Bar */
.nicescroll-rails{
  background-color: transparent !important;
  transform: translate(-2px);
  top: 0 !important;
}

.nicescroll-rails:hover .nicescroll-cursors{
  width: 8px !important;
  margin-right: 1px !important;
  transition: all 0.2s;
}

.nicescroll-rails .nicescroll-cursors {
  width: 5px !important;
  border: 0 !important;
  border-radius: 10px !important;
  transition: all 0.2s;
}
/* Fim Scroll-Bar */

/* Fim Select Option Simulador */

/* Início Receptores */
#receptores{   
  width: 100%;
  padding: 5% 0;
}

#receptores .container{
  max-width: 1250px;
}

.receptores-desc{
  padding: 2.5% 5%;
}

.receptores-desc h3{
  font-size: 36px;
  text-shadow: 1px 0px #000;
  letter-spacing: 2px;
}

.receptores-desc p{
  text-align: justify;
  font-size: 20px;
}

/* Tabs - Receptores */

.tabs{
  padding: 50px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 240px;
}

.tabs input[name=tab-control]{
  display: none;
}

.tabs .content section h2,
.tabs ul.ul-tabs li label{
  font-size: 22px;
  color: #428BFF;
}

.tabs ul.ul-tabs{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabs ul.ul-tabs li{
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs ul.ul-tabs li label{
  color: #929daf;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  user-select: none;
}

.tabs ul.ul-tabs li label:hover, .tabs ul.ul-tabs li label:focus, .tabs ul.ul-tabs li label:active{
  outline: 0;
  color: #bec5cf;
}

.tabs ul.ul-tabs li label span{
  padding: 1% 2.5%;
  text-shadow: 1px 0 #000;
}

.tabs .slider{
  position: relative;
  width: 50%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator{
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: linear-gradient(270deg, #234584 0%, #7D0C0E 100%);
  border-radius: 50px;
}

.tabs .content section{
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.tabs .content section h2{
  color: #428BFF;
  display: none;
}

.tabs .content section h2::after{
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
}

.tabs .content section p,
.tabs .content section ul.content-ul{
  font-size: 20px;
}

.tabs .content section ul.content-ul{
  list-style-position: inside;
}

.tabs .content section ul.content-ul li{
  padding: 1% 0;
}

.tabs .content section ul.content-ul li ul{
  margin-left: 2.5%;
}

.tabs .content section ul.content-ul strong{
  font-weight: 700;
  text-shadow: 1px 0 #000;
}

.tabs input[name=tab-control]:nth-of-type(1) ~ ul.ul-tabs > li:nth-child(1) > label span{
  transition: all 0.3s ease-in-out;
}

.tabs input[name=tab-control]:nth-of-type(1) ~ ul.ul-tabs > li:nth-child(1) > label:hover span{
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul.ul-tabs > li:nth-child(1) > label{
  cursor: default;
  color: #428BFF;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul.ul-tabs > li:nth-child(1) > label:hover span{
  font-size: 22px;
}

@media (max-width: 600px){
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul.ul-tabs > li:nth-child(1) > label{
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider{
  transform: translateX(0%);
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1){
  display: block;
}

.tabs input[name=tab-control]:nth-of-type(2) ~ ul.ul-tabs > li:nth-child(2) > label span{
  transition: all 0.3s ease-in-out;
}

.tabs input[name=tab-control]:nth-of-type(2) ~ ul.ul-tabs > li:nth-child(2) > label:hover span{
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul.ul-tabs > li:nth-child(2) > label{
  cursor: default;
  color: #428BFF;
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul.ul-tabs > li:nth-child(2) > label:hover span{
  font-size: 22px;
}

@media (max-width: 600px){
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul.ul-tabs > li:nth-child(2) > label{
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider{
  transform: translateX(100%);
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2){
  display: block;
}

@keyframes content{
  from{
    opacity: 0;
    transform: translateY(5%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 1000px){
  .tabs ul.ul-tabs li label{
    white-space: initial;
  }
}

@media (max-width: 600px){
  .tabs ul.ul-tabs li label{
    padding: 5px;
    border-radius: 5px;
  }

  .tabs ul.ul-tabs li label span{
    display: none;
  }

  .tabs .slider{
    display: none;
  }

  .tabs .content{
    margin-top: 20px;
  }

  .tabs .content section h2{
    display: block;
  }
}

/* Tabs - Receptores */

/* Carrosel Receptores */
#carousel{
  height: 600px;
  padding: 2.5% 0;
}

#carousel div {
  position: absolute;
  transition: transform 2s, left 2s, opacity 1s, z-index 0s, height 1s, width 1s, box-shadow 2s;
  opacity: 1;
  width: 410px;
  height: 536px;
  overflow: hidden;
  background: linear-gradient(272.04deg, #234584 0%, #7D0C0E 100%);
  border-radius: 15px;
  text-align: center;
}

#carousel div h3{
  color: #fff;
  margin: 30px 0px;
  font-size: 32px;
}

#carousel div a.disabled{
  pointer-events: none;
}

#carousel div button.btn{
  width: 80%;
  height: 10%;
  border-radius: 35px;
  font-size: 24px;
  color: #fff;
  margin: 20px 0px;
  border: 0;
}

#carousel div button.btn:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

#carousel div button.btn:hover{
  cursor: pointer;
}

#carousel div button.btn1{
  background-color: #595959;
}

#carousel div button.btn1:hover h3{
  color: #595959;
}

#carousel div button.btn2{
  background-color: #ffff01;
}

#carousel div button.btn2:hover h3{
  color: #ffff01;
}

#carousel div button.btn3{
  background: linear-gradient(270deg, #595959 0%, #FFF200 100%);
}

#carousel div button.btn3:hover h3{
  background: -webkit-linear-gradient(180deg, #595959 0%, #FFF200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#carousel div button.btn4{
  background-color: #ED1C24;
}

#carousel div button.btn4:hover h3{
  color: #ED1C24;
}

#carousel div button h3{
  font-size: 24px;
  margin: 0;
}

#carousel div.prevPontaDir{
  width: 390px;
  height: 486px;
  z-index: 1;
  left: 68%;
  transform: translateY(5%) translateX(-10%);
  opacity: 0.6;
}

#carousel div.prevDir{
  width: 390px;
  height: 486px;
  z-index: 2;
  left: 32%;
  transform: translateY(5%) translateX(-90%);
  opacity: 0.6;
}

#carousel div.selected {
  z-index: 3;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
  box-shadow: 0px 0px 105px 10px rgba(0, 0, 0, 0.45);
}

#carousel div.nextDir{
  width: 390px;
  height: 486px;
  z-index: 1;
  left: 68%;
  transform: translateY(5%) translateX(-10%);
  opacity: 0.6;
}

#carousel div.nextPontaDir{
  width: 390px;
  height: 486px;
  z-index: 2;
  left: 32%;
  transform: translateY(5%) translateX(-90%);
  opacity: 0.6;
}

#carousel div.option:hover{
  cursor: pointer;
  opacity: 0.85;
  transition: 0.5s ease-in-out;
}

/* Botões Carrosel Receptores */
.btn-hover-anim{
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
}

.btn-hover-anim:hover{
  transition: transform 0.5s ease-out;
}

.btn-hover-anim:hover:before{
  transform: scale(7);
}

.btn-hover-anim:before{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 42.5%;
  content: "";
  transition: transform 0.7s ease-out;
  transform: scale(0);
  background-color: #fff;
}
/* Fim Botões Carrosel Receptores */
/* Fim Carrosel Receptores */

/* Botão Fechar - Open Receptor */
.modalDialog {
  display: block;
  position: fixed;
  pointer-events: none;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  color: #4e5557;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.modalDialog:target {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.modalDialog > div {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 18px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
}

.align-text-receptor{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h25{
  height: 25%;
  display: flex;
}

.h25 a{
  margin: auto auto;
  align-self: flex-end;
}

.h50{
  height: 50%;
}

.h50 img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

.h25 a.btn-close {
  position: relative;
}

.h25 a.btn-close::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 3px; 
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude; 
}

.h25 a.btn-close.close-basal::before{
  background: #595959;
}

.h25 a.btn-close.close-ativado::before{
  background: #ffff01;
}

.h25 a.btn-close.close-parcialmente::before{
  background: -webkit-linear-gradient(180deg, #595959 0%, #FFF200 100%);
}

.h25 a.btn-close.close-bloqueado::before{
  background: #ED1C24;
}

.h25 a button.btn{
  width: 250px;
  border-radius: 50px;
  background: none;
}

.h25 a button.btn:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

.h25 a.btn-close.close-basal button.btn h3{
  color: #595959;
}

.h25 a.btn-close.close-ativado button.btn h3{
  color: #ffff01;
}

.h25 a.btn-close.close-parcialmente button.btn h3{
  background: -webkit-linear-gradient(180deg, #595959 0%, #FFF200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h25 a.btn-close.close-bloqueado button.btn h3{
  color: #ED1C24;
}

.h25 a.btn-close.close-basal:hover button.btn h3,
.h25 a.btn-close.close-ativado:hover button.btn h3,
.h25 a.btn-close.close-bloqueado:hover button.btn h3{
  color: var(--white-color);
  transition: color 0s;
}

.h25 a.btn-close.close-parcialmente:hover button.btn h3{
  background: var(--white-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
}

.h25 a button.btn h3{
  font-size: 24px;
  margin: 0;
  transition: color 1s;
  padding: 5px 0;
}

.btn-hover-anim-recep{
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
}

.btn-hover-anim-recep:hover{
  transition: transform 0.5s ease-out;
}

.btn-hover-anim-recep:hover:before{
  transform: scale(7);
}

.btn-hover-anim-recep:before{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 40%;
  content: "";
  transition: transform 0.7s ease-out;
  transform: scale(0);
}

.btn-hover-anim-recep.btn1:before{
  background-color: #595959;
}

.btn-hover-anim-recep.btn2:before{
  background-color: #ffff01;
}

.btn-hover-anim-recep.btn3:before{
  background: -webkit-linear-gradient(180deg, #595959 00%, #FFF200 100%);
}

.btn-hover-anim-recep.btn4:before{
  background-color: #ED1C24;
}
/* Fim Botão Fechar - Open Receptor */