:root{
  --white-color: #fff;
  --black-color: #000;
}

/* Início Section Simulador Cardiorespiratório */
#simulador-olhos{
  background: linear-gradient(272.04deg, #234584 0%, #7D0C0E 100%);
  padding: 2.5% 0;
}

#simulador-olhos .container{
  padding: 1.5%;
}

#simulador-olhos .simulador-btn-detail h3{
  color: var(--white-color);
  font-size: 24px;
  text-align: center;
}

#simulador-olhos .simulador-btn-detail #detailarea{
  outline: 0;
  padding: 16px;
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 150px;
  font-size: 20px;
  resize: none;
  font-family: 'Quicksand', serif;
}

#simulador-olhos .olhos-section{
  background-color: #fff;
  border-radius: 20px;
  padding: 2% 0;
}

#simulador-olhos .olhos-section .box-olhos{
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  padding: 2.5% 10%;
  margin: 0 auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#simulador-olhos .olhos img#pupila{
  border-radius: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  margin-top: 2.5%;
}

#simulador-olhos .olhos h3{
  color: var(--black-color);
  font-size: 24px;
  text-align: center;
  margin: 7.5% 15%;
  border-radius: 50px;
  padding: 1.5%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}